</head>
<body>
  <nav>
		<i class="fas fa-plane fa-2x"></i>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>

    >
      ADD FLIGHT
    </a>
    <a 
      href="/movies" class=<%= title === 'All Flights' ? 'active' : '' %>

    >
      ALL FLIGHTS
    </a>
  </nav>